<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="herb">
    <xacro:property name="pi" value="3.14159265359"/>

    <xacro:include filename="bh280.urdf.xacro"/>
    <xacro:include filename="wam.urdf.xacro"/>

    <!-- 7 DOF Barrett WAM equipped with the Barrett force/torque sensor and
         the BH-280 BarrettHand end-effector. -->
    <xacro:macro name="wam_ft_bh280" params="prefix">
        <xacro:bh280 prefix="${prefix}"/>
        <xacro:wam prefix="${prefix}"/>

        <joint name="${prefix}/mount" type="fixed">
            <!-- The force/torque sensor is 2 cm thick. -->
            <origin xyz="0 0 0.02" rpy="0 0 ${-pi/2}"/>
            <parent link="${prefix}/wam7"/>
            <child link="${prefix}/base_link"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="herb">
        <xacro:wam_ft_bh280 prefix="/left"/>
        <xacro:wam_ft_bh280 prefix="/right"/>

        <link name="herb_base"/>

        <joint name="/left/wam_mount" type="fixed">
            <origin xyz="0.079  0.191 0.905" rpy="0 ${-pi/2} ${pi}"/>
            <parent link="herb_base"/>
            <child link="/left/wam0"/>
        </joint>

        <joint name="/right/wam_mount" type="fixed">
            <origin xyz="0.079 -0.191 0.905" rpy="0 ${-pi/2} ${pi}"/>
            <parent link="herb_base"/>
            <child link="/right/wam0"/>
        </joint>
    </xacro:macro>

    <xacro:herb/>
</robot>
