<launch>
	<arg name="gui" default="False"/>
	<param name="robot_description" command="$(find xacro)/xacro.py $(find herb_description)/robots/herb.urdf.xacro" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.vcg"/>

    <node name="left_base_link_transform" pkg="tf" type="static_transform_publisher"
          args="0 0 0.06 1.57 0 0 /left/wam7 /left/base_link 50"/>
    <node name="right_base_link_transform" pkg="tf" type="static_transform_publisher"
          args="0 0 0.06 1.57 0 0 /right/wam7 /right/base_link 50"/>
</launch>
